body {
  font-family: "Overpass", sans-serif;
  box-sizing: border-box;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  background: #2B3044;
}

.section-header h1 {
  font: 400 32px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 15px;
  max-width: 1100px;
  padding: 15px; 
  margin: 0 auto;
  box-sizing: border-box;
}

.video-gallery .gallery-item {
  position: relative;
  width: 100%;
  height: 300px;
  background: #000;
  cursor: pointer;
  overflow: hidden;
}

.video-gallery .gallery-item img {
  position: relative;
  display: block;
  width: 115%;
  height: 300px;
  object-fit: cover;
  opacity: .5;
  /*transition: opacity .35s, transform .35s;*/
  transition: all 350ms ease-in-out;
  transform: translate3d(-23px, 0, 0);
  /*backface-visibility: hidden;*/
}


.video-gallery .gallery-item .gallery-item-caption {
  padding-top: 32px;
  padding-left: 10px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-gallery .gallery-item h2 {
  font-weight: 300;
  overflow: hidden;
  padding: 12px 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
  position: relative;
  margin: 0;
  z-index: 1;
  pointer-events: none;
}

.video-gallery .gallery-item p {
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 12px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
  opacity: 0.3;
  transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item .gallery-item-caption {
  text-align: left;
}

.video-gallery .gallery-item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 1px;
  background: #fff;
  transition: transform 0.3s;
  transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after {
  transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
  opacity: 1;
  transform: translate3d(0, 0,1 0);
}
header {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
  background-color: #0d0630;
  padding: 10px;
  width: 100%;
  z-index: 1001;
}

header img {
  padding-left: 10px;
}

.datetime {
  color: white;
  padding: 7px;
  margin-left: auto;
  margin-right: 30px;
}

.date {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
}

.time {
  font-family: "Courier New", monospace;
  font-weight: bold;
  text-align: center;
}
.sidenav {
  margin-top: 65px;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #4C5760;
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.1s ease-in-out;
}
.sidenav .preview {
  display: none;
}

.sidenav:not(:hover) .preview {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  color:lightgray;

}
.sidenav {
  width: 50px;
}

.sidenav:hover {
  width: 250px;
}


.sidenav a,
.dropdown-btn {
  display: none;
  margin-top: 5px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: black;
  background-color: #93a8ac;
  display: block;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.sidenav:hover a,
.sidenav:hover .dropdown-btn {
  display: block;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: black;
  background-color: #93a8ac;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn .45s ease-in-out;
}

.footer h4{
  color:white;
}
.footer ul, .footer li, .footer a{
  list-style-type: none;
  text-decoration: none;
}
.footer a{
  color: white;
}
.footer a:hover{
  color: #4C5760;
  text-decoration: underline;
}
